html,body{
    
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
    background-color:blanchedalmond;
}
.parent{
    height: 30%;
    width: 35%;
    background-color: lightblue;
    border: 1px solid black;
    position: relative;           
    top: 100px;
    left: 300px;
}
/* absolute works on child elements whose parent is relative */
.child{
    height: 50%;
    width: 35%;
    background-color:coral;
    border: 2px solid black;
    position:absolute;
    top:40px;
    left:80px;
}
.chatbot{
    height: 100px;
    width: 100px;
    background-color:chartreuse;
    position:fixed;
    right:0;
    bottom: 0;
    border-radius: 40%;
    display: flex;
    justify-content:center;
    align-items: center;
    opacity: 0.8;
    cursor: pointer;
}
.stick{
    position: sticky;
    height: 10%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: chartreuse;
    top:0;
    left:0;

}
.box{
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    height: 40%;
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 20px;
    transition: transform 0.6 ease-in-out;
    box-shadow: 7px 8px 24px -9px rgb(29, 29, 29);
}
.box:hover{
    background-color: aqua;
    transform: scale(1.1);
}
